<h1>{{title}}</h1>
<p>
  <button (click)="onclick()">Click me!</button>
  <label>{{sometext}}</label>
</p>
<button (click)="toggle()">Toggle</button>
<div *ngIf="dispName">
  <ul>
    <li *ngFor= "let name of names">
      The name is {{name.name}}
      They are a 
      <span [ngSwitch]="name.tag">
        <span *ngSwitchCase=1>FV</span>
        <span *ngSwitchCase=2>FNV</span>
        <span *ngSwitchCase=3>MV</span>
        <span *ngSwitchCase=4>MNV</span>
      </span>
    </li>
  </ul>

</div>